{% extends "index.html" %}
{% block content %}
 <h1>ABOUT: <br></h1>
<header class="indice">         
    <a href="/"><font color="white">Main Page</font></a>
    <a href="/museums"><font color="white">Museums of Madrid</font></a>
</header><br><br><br>
<h4>
HECHO POR ALEJANDRO REGUILÓN ESCALONA. Grado en Ingeniería en Sistemas de Telecomunicación.
<li><strong>/ :</strong></li>
            Pagina principal de la practica: muestra los 5 museos con más comentarios o, en caso de no haber cinco, solo los que tengan comentarios. Se mostrará su nombre, un enlace a la página esmadrid.es, su dirección y un enlace a la página del museo en la práctica. Hay un listado a la derecha de las páginas personales disponibles, que recibirán el nombre por defecto "username`s Page" si no se le ha sido asignado ninguno. También podremos filtrar los museos por accesibilidad.
<li><strong> /user:</strong></li>
    Página del usuario, muestra los museos seleccionados por el usuario de 5 en 5, mostrando la información principal de cada uno y pudiendo acceder a más información. Podemos ponerle título si así lo queremos. Si el usuario está autenticado, podrá cambiar tanto el color de background como el tamaño de la fuente.
<li><strong>/museos:</strong></li>
     Página con todos los museos de Madrid, pudiendo filtrarlos por distrito.
<li><strong>/museos/id:</strong></li>
     Página de un museo, se puede ver una información más detallada de éste, incluidos comentarios que han dejado otros usuarios con la fecha de publicación. Si estamos logeados, podremos dejar nuestro comentario.
<li><strong>usuario/xml:</strong></li>
     Canal XML de lo museos del usuario, estilo parecido al original.
<li><strong>/about:</strong></li>
    La página que estás leyendo
</h4>

<br>

{% endblock %}
