<html>
    <head>
        <title>Museos</title>
    </head>
    <body bgcolor="pink">s

        {% block content %}
        <h1>{{ title }}</h1>
            {% for museum in {{museums_in_order}} %}
                {% object = {{museums}}.get(name=museum) %}
                <h2><a href = object.mail> object.name</a></h2><br>
                <p>dirección: object.location</p>
        {% endfor %}
        {% endblock %}
        <div>
            <p>insertar parrafo 1</p>
            <h2><a href="">{{ link_2 }}</a></h2>
        </div>
        <div>
            <p>insertar parrafo 2</p>
            <h2><a href="">{{ link_3 }}</a></h2>
          </div>
    </body>
</html>
