{% extends "index.html" %}

{% block content %}
 <h1>MUSEUM`S PAGE: <br></h1>
<header class="indice">         
    <a href="/"><font color="white">Main Page</font></a>
    <a href="/museums"><font color="white">Museums of Madrid</font></a>
    {% if auth == True %}
        <a href="/logout"><font color="white">Logout</font></a>
    {%endif%}
    <a href="/about"><font color="white">About</font></a>
</header>
    <div class="museums">
    
        <h4>{{response | safe}}</h4>
    
    </div>
    
{% endblock %}
